@page "/dropdown-delay"
@* <div class="nav-item dropup-center dropup">
<NavLink class="nav-link dropdown-toggle ripple-button" id="dropdownMenu" href="map" role="button"
aria-expanded="false" data-bs-toggle="dropdown">
<i class="bi bi-map" aria-hidden="true"></i>
BẢN ĐỒ
</NavLink>

<ul class="dropdown-menu w-100 custom-bg-dark" style="background-color: #2C2C2C;">
<li>
<NavLink class="dropdown-subitem nav-link text-light ripple-button" href="map/location">Vị trí dự án
Việt Nam
</NavLink>
</li>
<li>
<NavLink class="dropdown-subitem nav-link text-light ripple-button" href="map/connect">Kết nối tại
Việt Nam
</NavLink>
</li>
</ul>
</div> *@


@* Dropdown toggle *@


@code {
    private bool IsDropdownOpen = false;

    private void ToggleDropdown()
    {
        IsDropdownOpen = !IsDropdownOpen;
    }

    private async Task OnItemClick()
    {
        // Handle item click logic here if needed

        // Delay for 2 seconds before closing the dropdown
        await Task.Delay(2000);
        IsDropdownOpen = false;
    }
}
