<div class="hide-on-small">
    <div class="ripple-wrapper" style="position: absolute; top: 300px; right: 10px; width: 55px;">
        <a href="/register" class="ripple-link">
            <img src="/res/images/thuvien/dang-ky-tu-van.png" alt="BLA" style="width: 100%; height: auto;" />
        </a>
    </div>
</div>


@code {


}
