
<div class="button-container hide-on-small">
    <a role="button" href="/register">
        <img src="/res/images/thuvien/dang-ky-tu-van.png" alt="BLA" style="position: absolute; top: 300px; right: 10px; width: 55px; height: auto;" />
    </a>
</div>
@code {


}
