@inherits LayoutComponentBase

<div class="page d-flex flex-column vh-100">
    <main class="flex-grow-1">
        <article>
            @Body
        </article>
        <NavMenu></NavMenu>
    </main>
</div>

