@inherits LayoutComponentBase

<div class="page d-flex flex-column vh-100">
    <main class="flex-grow-1">
        <article>
            @Body
        </article>

    </main>
    <a href="register">
        <button class="btn btn-primary rounded-0" type="button"
            style="z-index: 1; position: fixed;  bottom: 0; width: 100%; background-color: gold; border: none;">ĐĂNG KÝ
            TƯ VẤN</button>
    </a>

    <DKButton />
    <Hotbar />
    <NavMenu />
    <img class="overlay-png push-self-on-small" src="../res/images/navbar.png" alt="BLA" />
</div>
