.dropdown-menu .dropdown-menu {
    top: -0.5rem !important;
    right: 9.5rem;
}

.nav-item {
    flex: 1;
    /* Ensure each item takes up equal space */
    text-align: center;
    /* Center text within each item */
    color: #d7d7d7;
    
}

.nav-item ::deep a.active {
    background-color: rgba(226, 230, 14, 0.37);
    /* color: #ffa600; */
}

.nav-item ::deep .nav-link:hover {
    background-color: rgba(12, 197, 27, 0.1);
    color: rgb(255, 217, 0);
}


@media (max-width: 1000px) {
    .push-self-on-small {
        bottom: 45px;
    }
}