@inject NavigationManager NavigationManager
@* <div class="nav-bottom @NavMenuCssClass"> *@
@inject IJSRuntime JS


<HomeButton></HomeButton>
<div class="nav-bottom push-self-on-small">
    <nav class="navbar navbar-expand-lg">
        <div class="nav-item">

        </div>
        <div class="nav-item ">
            <NavLink class="nav-link ripple-button" href="view360">
                <i class="bi bi-browser-safari" aria-hidden="true"></i>
                VIEW 360
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link ripple-button" href="nhamau">
                <i class="bi bi-house-door-fill" aria-hidden="true"></i>
                NHÀ MẪU
            </NavLink>
        </div>

        @* <div class="nav-item" style="padding: 4px;">
        <li class="dropend">

        <NavLink class="nav-link dropdown-item nav-item" href="#" id="dropdownSubMenuLink"
        data-bs-toggle="dropdown" aria-expanded="false">BẢN ĐỒ
        </NavLink>
        <ul class="dropdown-menu w-50" style="background-color: #2C2C2C;" aria-labelledby="dropdownSubMenuLink">
        <li>
        <NavLink class="dropdown-item custom-hover text-light" href="map/location">Vị trí dự án
        </NavLink>
        </li>
        <li>
        <NavLink class="dropdown-item custom-hover text-light" href="map/connect">Kết nối tại Việt Nam
        </NavLink>
        </li>
        </ul>

        </li>
        </div> *@

        <div class="nav-item dropup-center dropup">
             <NavLink class="nav-link dropdown-toggle ripple-button" id="dropdownMenu" href="map" role="button"
            aria-expanded="false" data-bs-toggle="dropdown">
            <i class="bi bi-map" aria-hidden="true"></i>
            BẢN ĐỒ
            </NavLink> 


            @* <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu" data-bs-toggle="dropdown"
                aria-expanded="false">
                Dropdown button
            </button> *@

            <ul class="dropdown-menu w-100 custom-bg-dark" style="background-color: #2C2C2C;">
               <li>
                    <NavLink class="dropdown-subitem nav-link text-light ripple-button" href="map/location">Vị trí dự án
                        Việt Nam
                    </NavLink>
                </li>
                <li>
                    <NavLink class="dropdown-subitem nav-link text-light ripple-button" href="map/connect">Kết nối tại
                        Việt Nam
                    </NavLink>
                </li>
            </ul>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link ripple-button" href="library">
                <i class="bi bi-book" aria-hidden="true"></i> THƯ VIỆN
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="" style="text-decoration: none;">
                <span style="color: grey">
                    <i class="bi bi-house-door-fill"></i> SMART CITY
                </span>
            </NavLink>
        </div>
    </nav>
</div>

<div class="toggler-container ">

    <MiniNavMenu />


</div>
@code {
    private async Task OnDropdownItemClick(string dropdownId)
    {
        NavigationManager.NavigateTo("/map/location");
        await JS.InvokeVoidAsync("closeDropdownWithDelay", dropdownId, 3000); // 300 ms delay
    }

}
