@page "/nhamau"

<PageTitle>Nhà Mẫu</PageTitle>

<div class="container">
    <div class="row mb-2">
        <div class="col-md">
            <div class="p-3">
                <img src="../res/images/nhamau/nhamau_stride.png" alt="BLA" style="width: 340px; height: auto;" />
            </div>
        </div>
    </div>

    <div class="row mb-1">
        <div class="col-md-4">
            <div class="p-1 d-flex justify-content-center">
                <NavLink href="/nhamau/nhatesla">
                    <img src="../res/images/nhamau/nha-tesla.png" alt="BLA" style="width: 340px; height: auto; " />
                </NavLink>
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-1 d-flex justify-content-center">
                <NavLink href="/nhamau/nhateslagoc">
                    <img src="../res/images/nhamau/nha-tesla-goc.png" alt="BLA" style="width: 340px; height: auto;" />
                </NavLink>
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-1 d-flex justify-content-center">
                <NavLink href="/nhamau/nhadavinci">
                    <img src="../res/images/nhamau/nha-davinci.png" alt="BLA" style="width: 340px; height: auto;" />
                </NavLink>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="p-1 d-flex justify-content-center">
                <NavLink href="/nhamau/nhacantana">
                    <img src="../res/images/nhamau/nha-cantata.png" alt="BLA" style="width: 340px; height: auto;" />
                </NavLink>
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-1 d-flex justify-content-center">
                <NavLink href="/nhamau/nhacantanagoc">
                    <img src="../res/images/nhamau/nha-cantata-goc.png" alt="BLA" style="width: 340px; height: auto;" />
                </NavLink>
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-1 d-flex justify-content-center">
                <NavLink>
                    <img src="../res/images/nhamau/nha-lak.png" alt="BLA"
                        style="width: 340px; height: auto; opacity: 0.5;" />
                </NavLink>
            </div>
        </div>
    </div>
</div>
@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
