@page "/view360"
@inject IJSRuntime JS
@inject NavigationManager NavigationManager
@inject HttpClient Http

<style>
    .app3d {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }

    .app3d.hotspot-clickable {
        cursor: pointer;
    }

    .mini-map {
        position: fixed;
        right: 0;
        bottom: 0;
        width: 300px;
        height: 300px;
        background-color: #faebd77a;
        border-radius: 50px 0 0 0;
    }

    #hotspot-info {
        pointer-events: none;
    }

    .pano-hotspot {
        position: absolute;
        width: 72px;
        height: 72px;
        display: block;
        /* Ensure elements are not hidden */
    }
</style>

<div id="streetview" class="app3d">
    <div id="hotspot-info"></div>
</div>
<div id="mini-map" class="mini-map"></div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("runapp");
        }
    }

    [JSInvokable]
    public void NavigateToView(string id)
    {
        Console.WriteLine("Hello ");

        // Navigate using the NavigationManager
        NavigationManager.NavigateTo($"/view360", forceLoad: true);
    }

    @* private async Task CallJavaScript()
{
await JS.InvokeVoidAsync("runapp");
} *@

    @* private async Task MyButtonClickAsync()
{
await JS.InvokeVoidAsync("runapp");
} *@

}
