@media (max-width: 1000px) {
    .push-self-on-small[b-u5lwu8xe1i] {
        bottom: 36px;
    }
}
@media (min-width: 1000px) {
    .push-self-on-small[b-u5lwu8xe1i] {
        bottom: -13px;
        left: 90px;
    }
    
}
